@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_NoficationPartial" />
@model ListViewModel

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Discover. Learn. Enjoy</h1>

                <h6 class="text-center">platform for creatives around the world</h6>

                <form asp-action="CourseList" asp-controller="Course" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">

                        </span>

                        <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Programming, Design ..." aria-label="Search" required>

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    @{
                        Random random = new Random();
                        int randomIndex = random.Next(Model.Courses.Count());
                        var randomCourse = Model.Courses.ElementAt(randomIndex);
                    }
                    <a asp-action="CourseDetail" asp-controller="Course" asp-route-CourseID="@randomCourse.CourseID">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">@randomCourse.Title</h5>
 
                                <p class="mb-0">@randomCourse.Description.</p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">@randomCourse.NumberOfStudents</span>
                        </div>

                        <img src="@randomCourse.CoverImagePath" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">
                        @{
                            int index = random.Next(Model.Categories.Count);
                            var randomCategory = Model.Categories[index];
                        }
                        <div class="custom-block-overlay-text d-flex">

                            <div>
                                <h5 class="text-white mb-2">@randomCategory.FullName</h5>

                                <p class="text-white">@randomCategory.Description.</p>

                                <a asp-action="CourseList" asp-controller="Course" asp-route-category="@randomCategory.CategoryID" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-graphic rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="explore-section section-padding" id="section_2">
    <div class="container">


        <div class="col-12 text-center">
            <h2 class="mb-4">Browse Topics</h2>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">All Categories</button>
                </li>
                @foreach (var category in Model.Categories)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-@category.CategoryID-tab" data-bs-toggle="tab" data-bs-target="#tab-@category.CategoryID-tab-pane" type="button" role="tab" aria-controls="tab-@category.CategoryID-tab-pane" aria-selected="false">@category.FullName</button>
                    </li>
                }

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="programming-tab" tabindex="0">
                        <div class="row">
                            @{
                                int displayedCourses = 0;
                            }
                            @foreach (var item in Model.Courses)
                            {
                                if (displayedCourses >= 6)
                                {
                                    break;
                                }
                                if (item.Status == true)
                                {
                                    displayedCourses++;
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                            <a asp-action="CourseDetail" asp-controller="Course" asp-route-CourseID="@item.CourseID">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2 limited-text">
                                                            <span class="dot @((item.Status == true) ? "text-danger" : "text-muted")">&#9679;</span>
                                                            @(item.Title.Length > 19 ? item.Title.Substring(0, 19) + "..." : item.Title)
                                                        </h5>
                                                        <p class="mb-0 limited-text">
                                                            @(item.Description.Length > 29 ? item.Description.Substring(0, 29) + "..." : item.Description)
                                                        </p>
                                                    </div>
                                                    <span class="badge bg-music rounded-pill ms-auto">@item.NumberOfStudents</span>
                                                </div>
                                                <img src="@item.CoverImagePath" class="custom-block-image img-fluid" alt="Image Description" style="width: 100%; height: 250px;">
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    @foreach (var category in Model.Categories)
                    {
                        <div class="tab-pane fade" id="tab-@category.CategoryID-tab-pane" role="tabpanel" aria-labelledby="tab-@category.CategoryID-tab" tabindex="0">
                            <div class="row">
                                <dic class=" mb-4">
                                    <div class="col-lg-12 col-12 text-center">
                                        <h5 class="mb-4 text-muted"> @category.Description</h5>
                                    </div>
                                </dic>
                                @foreach (var item in Model.Courses)
                                {
                                    @if (item.CategoryID == category.CategoryID)
                                    {
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                                <a asp-action="CourseDetail" asp-controller="Course" asp-route-CourseID="@item.CourseID">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2 limited-text">
                                                                <span class="dot @((item.Status == true) ? "text-danger" : "text-muted")">&#9679;</span>
                                                                @(item.Title.Length > 19 ? item.Title.Substring(0, 19) + "..." : item.Title)
                                                            </h5>
                                                            <p class="mb-0 limited-text">
                                                                @(item.Description.Length > 29 ? item.Description.Substring(0, 29) + "..." : item.Description)
                                                            </p>
                                                        </div>
                                                        <span class="badge bg-music rounded-pill ms-auto">@item.NumberOfStudents</span>
                                                    </div>
                                                    <img src="@item.CoverImagePath" class="custom-block-image img-fluid" alt="Image Description" style="width: 100%; height: 250px;">
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                    <div class="col-md-12 d-flex justify-content-center">
                        <a asp-action="CourseList" asp-controller="Course" class="btn custom-btn">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">How does it work?</h2>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="text-white mb-3">Search your favourite topic</h4>

                            <p class="text-white">Explore a vast array of courses and resources tailored to your learning interests. Use our powerful search feature to easily find topics, lessons, and materials that resonate with you.</p>

                            <div class="icon-holder">
                                <i class="bi-search"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Bookmark &amp; Keep it for yourself</h4>

                            <p class="text-white">Never lose track of valuable learning resources again! With our bookmarking feature, you can save your favorite courses, articles, and videos, ensuring you have quick access whenever you need them.</p>

                            <div class="icon-holder">
                                <i class="bi-bookmark"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

                            <p class="text-white">Immerse yourself in the knowledge you've gathered! Take the time to read through saved materials, engage with diverse topics, and enhance your learning journey at your own pace.</p>

                            <div class="icon-holder">
                                <i class="bi-book"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 text-center mt-5">
                <p class="text-white">
                    Want to learn more?
                    <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Topic Listing?
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Topic Listing is free Bootstrap 5 CSS template. <strong>You are not allowed to redistribute this template</strong> on any other template collection website without our permission. Please contact TemplateMo for more detail. Thank you.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How to find a topic?
                            </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                You can search on Google with <strong>keywords</strong> such as templatemo portfolio, templatemo one-page layouts, photography, digital marketing, etc.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Does it need to paid?
                            </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Get in touch</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2167.9632942739245!2d108.26069640907366!3d15.968670415325564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314211006f1f81bb%3A0x90cab75eb25ebb52!2zVMOyYSBuaMOgIEdhbW1hIC0gxJBIIEZQVCDEkMOgIE7hurVuZw!5e1!3m2!1svi!2s!4v1729268707308!5m2!1svi!2s" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">FPT University Da Nang</h4>

                <p>Hoa Hai, Ngu Hanh Son, Da Nang, Viet Nam</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 125-125-8386" class="site-footer-link">
                        110-220-8386
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="https://mail.google.com" target="_blank" class="site-footer-link">
                        fudn@fpt.edu.vn
                    </a>

                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">Dubai office</h4>

                <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 110-220-8386" class="site-footer-link">
                        125-125-8386
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="https://mail.google.com" class="site-footer-link">
                        quyloi123@gmail.com
                    </a>

                </p>
            </div>

        </div>
    </div>
</section>
<script src="~/js/js/code.js"></script>

