@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InstructorProfileViewModel


<partial name="_NoficationPartial" />
<section class="profile-section">
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/Images/@Model.ExistingProfileImagePath" alt="Profile Image" />
                </div>
            </div>
            <div class="col-md-8">
                <h5>@Model.UserName</h5>
                <p>Full Name: @Model.FirstName @Model.LastName</p>
                <p>Email: @Model.Email</p>
                <p>Phone: @Model.PhoneNumber</p>
                <p>Address: @Model.Address</p>
                <p>Date of birth: @Model.Dob</p>
                <p>
                    Gender:@if (@Model.gender == true)
                    {
                        @:Male
                    }

                    else

                    {
                        @:Female
                    }
                </p>
                <a asp-action="Index" asp-controller="Chat" asp-route-id="@Model.UserId" class="btn custom-btn">Message</a>

            </div>
        </div>
    </div>
</section>