<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link href="~/css/course-component.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @{
                        int courseId = ViewBag.CourseId; 
                    }
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Participation" && ViewContext.RouteData.Values["action"].ToString() == "LectureList" ? "active" : "")"
                           asp-action="LectureList" asp-controller="Participation" asp-route-id="@courseId">Lectures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Participation" && ViewContext.RouteData.Values["action"].ToString() == "AssignmentList" ? "active" : "")"
                           asp-action="AssignmentList" asp-controller="Participation" asp-route-id="@courseId">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Participation" && ViewContext.RouteData.Values["action"].ToString() == "TestList" ? "active" : "")"
                           asp-action="TestList" asp-controller="Participation" asp-route-id="@courseId">Tests</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
        <!-- Add Lecture Modal -->
        <div class="modal fade" id="createLectureModal" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addLectureModalLabel">Add New Lecture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addLectureForm" enctype="multipart/form-data" method="post" asp-area="Instructor" asp-controller="Lecture" asp-action="Create">
                            <input type="hidden" class="form-control" name="CourseID" value="@courseId" required>
                            <div class="mb-3">
                                <label for="Title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="Title" required>
                            </div>
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description</label>
                                <textarea class="form-control" name="Description" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="LectureFile" class="form-label">Upload Lecture File</label>
                                <input type="file" class="form-control" name="LectureFile" accept=".pdf,.doc,.docx,.ppt,.pptx" multiple>
                            </div>
                            <div class="mb-3">
                                <label for="VideoFile" class="form-label">Upload Video File</label>
                                <input type="file" class="form-control" name="VideoFile" accept=".mp4,.mov,.avi">
                            </div>
                            <button type="submit" class="btn btn-success">Add Lecture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Lecture Modal -->
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2023 Trang chủ</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
</body>
</html>
