@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUserModel> SignInManager
@inject UserManager<AppUserModel> UserManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Learning Platform</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <!-- FontAwesome and Bootstrap Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Correct the paths for your local CSS files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/loader.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

</head>

<body id="top">

    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow" role="status"></div>
    </div>

    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <i class="bi-back"></i>
                    <span>Topic</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse d-flex justify-content-center align-items-center me-auto" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")"
                               asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Course" && ViewContext.RouteData.Values["action"].ToString() == "CourseList" ? "active" : "")"
                               asp-action="CourseList" asp-controller="Course">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Course" && ViewContext.RouteData.Values["action"].ToString() == "MyCourse" ? "active" : "")"
                               asp-action="UserCourse" asp-controller="Course" style="white-space: nowrap;">My Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "")"
                               asp-action="Contact" asp-controller="Home">Contact</a>
                        </li>
                        
                        @if (!User.IsInRole("Instructor"))
                        {
                        <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Student" && ViewContext.RouteData.Values["action"].ToString() == "InstructorRegistration" ? "active" : "")"
                                   asp-action="InstructorRegistration" asp-controller="Student" asp-area="Student">Teaching</a>
                            </li>
                        }
                        
                    </ul>
                </div>

                <div class="d-none d-lg-flex ms-auto align-items-center">
                    <!-- Search Form -->
                    @{
                        var keyword = ViewBag.Keyword;
                    }
                    <div class="d-none d-lg-block me-auto">
                        <form asp-action="Search" asp-controller="Course" method="GET" class="navbar-form" style="display: inline; position: relative;">
                            <input type="text" name="keyword" value="@keyword" placeholder="Search"
                                   style="padding: 10px 15px; border-radius: 25px; border: 1px solid #ccc; outline: none; width: 250px;">
                            <button type="submit"
                                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background-color: transparent; border: none; cursor: pointer;">
                                <i class="me-2 bi bi-search" style="font-size: 1.2em;"></i>
                            </button>
                        </form>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ms-3">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var fullName = user.FirstName + " " + user.LastName;

                            <li class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="@user.ProfileImagePath"
                                         class="rounded-circle"
                                         style="width: 45px; height: 45px;"
                                         alt="Profile Image">
                                    <span class="d-none d-lg-inline ms-3">
                                        @(fullName.Length > 25 ? fullName.Substring(0, 25) + "..." : fullName)
                                    </span>
                                </a>
                                <!-- Dropdown - User Information -->
                                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Chat" asp-area="">
                                            <i class="fa fa-envelope fa-sm fa-fw me-2 text-gray-400"></i>Message
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="UserProfile" asp-controller="Profile">
                                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>Your Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-action="RequestWithdraw" asp-controller="Payment">
                                            <i class="fas fas fa-exchange-alt fa-sm fa-fw me-2 text-gray-400"></i>Request A Transfer
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <form asp-action="Logout" asp-controller="Account" method="post">
                                            <button type="submit" class="dropdown-item">
                                                <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account" class="btn custom-btn">
                                <i class="fas fa-user me-2"></i> Sign in
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Notification Partial -->
        

        <!-- Main Body -->
        @RenderBody()

    </main>

    <!-- Footer -->
    <footer class="site-footer section-padding" style="width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="#">
                        <i class="bi-back"></i>
                        <span>Topic</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#section_3" class="site-footer-link">How it works</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#section_4" class="site-footer-link">FAQs</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a asp-action="Contact" asp-controller="Home" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>
                    <p class="text-white d-flex mb-1">
                        <a href="tel:305-240-9671" class="site-footer-link">305-240-9671</a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">info@company.com</a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">VietNam</button></li>
                        </ul>
                    </div>
                    <p class="copyright-text mt-lg-5 mt-4">
                        Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution: <a href="https://themewagon.com">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/main.js"></script>
    
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

    @RenderSection("Scripts", required: false)
</body>
</html>
