@{
    ViewData["Title"] = "Create Test";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}
@model OnlineLearning.Models.ViewModel.QuestionViewModel
<link rel="stylesheet" href="~/css/CreateQuestion.css" />

<div class="container-fluid">
    <h2>Create Question
        <a asp-action="TestList" asp-controller="Participation" asp-route-CourseID="@ViewBag.Course.CourseID" class="btn btn-outline-black"> Back </a>
    </h2>

    <section>
        <form asp-action="ImportCSV" asp-controller="Question" method="post" enctype="multipart/form-data" onsubmit="return confirmSkipFirstLine(event)">
            <div class="mb-3">
                <label for="CSVFile">Upload CSV:</label>
                <input type="file" name="CSVFile" class="form-control" accept=".csv" required />
            </div>

            <!-- Checkbox for skipping the first line -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="true" id="skipFirstLine" name="skipFirstLine" />
                <label class="form-check-label" for="skipFirstLine">Skip the first line (header row)</label>
            </div>

            <input type="hidden" name="TestID" class="form-control" value="@ViewBag.TestID" />
            <button type="submit" class="btn btn-info">Upload CSV</button>
        </form>

        <form class="mt-2" asp-action="ImportExcel" asp-controller="Question" method="post" enctype="multipart/form-data" onsubmit="return confirmSkipFirstLine(event)">
            <div class="mb-3">
                <label for="ExcelFile">Upload Excel:</label>
                <input type="file" name="ExcelFile" class="form-control" accept=".xlsx,.xls" required />
            </div>

            <!-- Checkbox for skipping the first line -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="true" id="skipFirstLine2" name="skipFirstLine" />
                <label class="form-check-label" for="skipFirstLine2">Skip the first line (header row)</label>
            </div>
            <input type="hidden" name="TestID" class="form-control" value="@ViewBag.TestID" />
            <button type="submit" class="btn btn-info">Upload Excel</button>
        </form>
        <div class="m-1">
            <a href="https://firebasestorage.googleapis.com/v0/b/online-88d8b.appspot.com/o/CourseDocuments%2FFormat%20guilde%20to%20create%20question%20with%20upload%20file%20(1).pdf?alt=media&token=9e23f676-e41f-4a8c-bb83-daf67c67169b" class="btn-link" target="_blank">How to import file ?</a>
            <a href="https://firebasestorage.googleapis.com/v0/b/online-88d8b.appspot.com/o/CourseDocuments%2F15616850-23a9-4040-852b-e83c0e943325_tqmplate.xlsx?alt=media&token=2f7a2c94-a87d-4263-bfd3-c336e7e93434" class="btn-link" target="_blank">Dowload template</a>
        </div>
 
        <form id="newQuestionForm" enctype="multipart/form-data" method="post" asp-controller="Question" asp-action="CreateQuestion" onsubmit="return correctAnswerValidation()">
            <div class="mb-3">
                <label for="QuestionText" class="form-label">Enter question:</label>
                <textarea class="form-control" name="QuestionText" rows="2" asp-for="QuestionText" required></textarea>
            </div>

            <div class="mb-3">
                <label for="ImageUpload">Upload image:</label>
                <input type="file" name="QuestionImage" class="form-control" asp-for="QuestionImage" accept="image/*" />
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Answer A: </label>
                <textarea class="form-control" name="AnswerA" rows="2" asp-for="AnswerA" required></textarea>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Answer B: </label>
                <textarea class="form-control" name="AnswerB" rows="2" asp-for="AnswerB" required></textarea>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Answer C: </label>
                <textarea class="form-control" name="AnswerC" rows="2" asp-for="AnswerC" required></textarea>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Answer D: </label>
                <textarea class="form-control" name="AnswerD" rows="2" asp-for="AnswerD" required></textarea>
            </div>

            <div class="mb-3">
                <label for="CorrectAnswer" class="form-label">Correct Answer: </label>
                <input type="text" class="form-control" name="CorrectAnswer" asp-for="CorrectAnswer" placeholder="A, B, C or D" required />
            </div>

            <input type="hidden" class="form-control" asp-for="Test" value="@ViewBag.Test" />
            <input type="hidden" class="form-control" asp-for="TestID" value="@ViewBag.TestID" />
            <input type="hidden" class="form-control" asp-for="CourseID" value="@ViewBag.CourseID" />

            <button type="submit" class="btn custom-btn">Create Question</button>
        </form>
    </section>

    <!-- Modal for confirmation -->
    <div class="modal fade" id="skipFirstLineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Confirmation</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Confirm Uploading the file to create question to test ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    <button type="button" class="btn btn-info" id="confirmSkipFirstLineBtn">Yes, Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* <script>
    let formToSubmit = null; 

    function confirmSkipFirstLine(event) {
        // Prevent default form submission
        event.preventDefault();

        // Store the form reference
        formToSubmit = event.target;

        // Show modal for confirmation
        $('#skipFirstLineModal').modal('show');

        return false; // Prevent form submission
    }

    // If user confirms, submit the stored form
    document.getElementById('confirmSkipFirstLineBtn').addEventListener('click', function () {
        if (formToSubmit) {
            formToSubmit.submit(); // Submit the form that triggered the modal
        }
    });
</script>

<!-- chặn hiệu ứng load trang -->
<script>
    window.addEventListener('beforeunload', function () {
        document.getElementById('loading').style.display = 'none';
    });
</script> *@