@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EditUserViewModel


<partial name="_NoficationPartial" />
<section class="profile-section">
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Model.ExistingProfileImagePath" alt="Profile Image" />
                </div>
            </div>
            <div class="col-md-8">
                <h5>@Model.UserName</h5>
                <p>Full Name: @Model.FirstName @Model.LastName</p>
                <p>Email: @Model.Email</p>
                <p>Phone: @Model.PhoneNumber</p>
                <p>Address: @Model.Address</p>
                <p>Date of birth: @Model.Dob</p>
                <p>Cash: @Model.WalletUser.ToString("N0") VND</p>
                <p>
                    Gender:@if (@Model.gender == true)
                    {
                        @:Male
                    }

                    else

                    {
                        @:Female
                    }
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <a asp-action="Edit" asp-controller="Profile" class="btn custom-btn">Edit Profile</a>
                    </div>
                    <div class="col-md-4">
                        <a asp-action="Changepass" asp-controller="Profile" class="btn custom-btn">Change Password</a>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</section>