﻿@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}

@model List<LectureFileModel>

@{
    var lecture = ViewBag.Lecture;
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 d-flex align-items-center">
        @lecture.Title
        <button class="btn ml-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cog"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateLectureModal">Update Lecture </a>
            </li>
            <li>
                <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteLectureModal">Delete Lecture</a>
            </li>
        </ul>
    </h1>
    <p class="mb-4">
        @lecture.Description
    </p>

    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <div class="card shadow mb-4">
                @foreach (var file in Model)
                {
                    if (file.FileType.Equals("Video"))
                    {
                        <div class="position-relative">
                            <video class="card-img-top" controls style="height: 100%; width: 100%;">
                                <source src="@file.FilePath" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                }
                <div class="m-3">
                    <h5>Documents</h5>
                    @{
                        bool hasDocuments = false;
                    }
                    @foreach (var file in Model)
                    {
                        if (file.FileType.Equals("Document"))
                        {
                            string iconClass = "";

                            switch (file.fileExtension.ToLower())
                            {
                                case ".pdf":
                                    iconClass = "fas fa-file-pdf text-danger";
                                    break;
                                case ".pptx":
                                    iconClass = "fas fa-file-powerpoint text-warning";
                                    break;
                                case ".docx":
                                    iconClass = "fas fa-file-word text-primary";
                                    break;
                                case ".xlsx":
                                    iconClass = "fas fa-file-excel text-success";
                                    break;
                                default:
                                    iconClass = "fas fa-file";
                                    break;
                            }
                            hasDocuments = true;
                            <div class="position-relative mb-1">
                                <i class="@iconClass me-2 ms-2"></i>
                                <a href="@file.FilePath" class="btn-link" target="_blank"> @file.FileName</a>
                            </div>
                        }
                    }
                    @if (!hasDocuments)
                    {
                        <div class="position-relative m-1">
                            <p>No documents yet.</p>
                        </div>
                    }
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3 mb-5">
                <form asp-action="GoPrevious" asp-controller="Lecture" asp-area="Instructor" method="get" class="d-flex">
                    <input type="hidden" name="LectureID" value="@lecture.LectureID">
                    <button type="submit" class="btn btn btn-outline-black"><i class="fas fa-chevron-left mr-2"></i>Previous</button>
                </form>

                <form asp-action="GoNext" asp-controller="Lecture" asp-area="Instructor" method="get" class="d-flex">
                    <input type="hidden" name="LectureID" value="@lecture.LectureID">
                    <button type="submit" class="btn btn btn-outline-black">Next <i class="fas fa-chevron-right ml-1"></i></button>
                </form>
            </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disscusion</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                    Styling for the donut chart can be found in the
                    <code>/js/demo/chart-pie-demo.js</code> file.
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Update Lecture Modal -->
<div class="modal fade" id="updateLectureModal" tabindex="-1" aria-labelledby="deleteLectureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLectureModalLabel">Update Lecture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addLectureForm" enctype="multipart/form-data" method="post" asp-area="Instructor" asp-controller="Lecture" asp-action="Create">
                    <input type="hidden" class="form-control" name="CourseID" value="">
                    <div class="mb-3">
                        <label for="Title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="Title" required>
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Description</label>
                        <textarea class="form-control" name="Description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="LectureFile" class="form-label">Upload Lecture Documents</label>
                        <input type="file" class="form-control" name="LectureFile" accept=".pdf,.doc,.docx,.ppt,.pptx" multiple>
                    </div>
                    <div class="mb-3">
                        <label for="VideoFile" class="form-label">Upload Lecture Video</label>
                        <input type="file" class="form-control" name="VideoFile" accept=".mp4,.mov,.avi">
                    </div>
                    <button type="submit" class="custom-btn">Add Lecture</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Lecture Modal -->
<div class="modal fade" id="deleteLectureModal" tabindex="-1" aria-labelledby="deleteLectureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLectureModalLabel">Delete Lecture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteLectureForm" method="post" asp-controller="Lecture" asp-action="Delete">
                    <input type="hidden" name="LectureID">
                    <p>Are you sure you want to delete this lecture?</p>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

