@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <partial name="_NoficationPartial" />
}
@model List<CourseModel>

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Homepage</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Courses</li>
                    </ol>
                </nav>

                <h2 class="text-white">Courses</h2>
            </div>

        </div>
    </div>
</header>

<section class="explore-section section-padding" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h3 class="mb-4">Popular Courses</h3>
            </div> 
            <div class="col-lg-8 col-12 mt-3 mx-auto">
                <div class="button-group d-flex justify-content-end">
                    <div>
                        <select class="filter-select me-2" id="categoryFilter">
                            <option value="">All Category</option>
                            <option value="programming">Programming</option>
                            <option value="design">Design</option>
                            <option value="dataSience">Data Science</option>
                            <option value="webDevelopment">Web Devleopment</option>
                        </select>

                        <select class="filter-select" id="difficultyFilter">
                            <option value="">All Level</option>
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                </div>

             

                @foreach (var course in Model)
                {
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@course.CoverImagePath" class="custom-block-image img-fluid" alt="">
                            </div>
                         
                            <div class="col-md-8 custom-block-topics-listing-info">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="mb-2">
                                                <span class="dot @((course.Status == true) ? "text-danger" : "text-muted")">&#9679;</span>
                                                @course.Title
                                                </h4>
                                            <p class="mb-0"> Instructor: @course.Instructor?.AppUser?.FirstName @course.Instructor?.AppUser?.LastName</p>
                                            <div class="stars justify-content-between align-content-center">
                                               @if (@course.NumberOfRate == 0)
                                                {
                                                    <h6 class="text-muted mt-1">No reviews yet</h6>
                                                }
                                                else
                                                {
                                                    <h5>
                                                        @course.Rating
                                                        @*       <span class="star">&#9733;</span> *@
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= @course.Rating)
                                                            {
                                                                <span class="star">&#9733;</span> <!-- Ngôi sao đầy -->
                                                            }
                                                            else
                                                            {
                                                                <span class="star">&#9734;</span> <!-- Ngôi sao rỗng -->
                                                            }
                                                        }
                                                        (@course.NumberOfRate)
                                                    </h5>
                                                }           
                                            </div>  
                                            <h4>$@course.Price</h4>
                                        </div>
                                        <span class="badge bg-music rounded-pill ms-auto">@course.NumberOfStudents</span>
                                    </div>
                                    <a asp-action="CourseDetail" asp-controller="Course" asp-route-CourseID="@course.CourseID" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-12 col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>

                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>


<section class="section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h3 class="mb-4">Trending Topics</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a asp-action="CourseDetail" asp-controller="Course">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Investment</h5>

                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                        </div>

                        <img src="~/Images/topics/undraw_Finance_re_gnv2.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="~/Images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis</p>

                                <a asp-action="CourseDetail" asp-controller="Course" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>

                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>