﻿@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}

@model List<LectureFileModel>

@{
    var lecture = ViewBag.Lecture;
    var completion = ViewBag.Completion;
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 d-flex align-items-center">
        @lecture.Title
        <i class="ml-2 fas @(completion == null ? "text-gray-400" : "text-success") fa-check-circle"></i>
        <i class="fas fa-cog ml-auto"></i>
        </h1>
    <p class="mb-4">
        @lecture.Description
    </p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                @foreach (var file in Model)
                {
                    if (file.FileType.Equals("Video"))
                    {
                        <div class="position-relative">
                            <video class="card-img-top" controls style="height: 100%; width: 100%;">
                                <source src="@file.FilePath" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                }

                <div class="m-3">
                    <h5>Documents</h5>
                    @{
                        bool hasDocuments = false; 
                    }
                    @foreach (var file in Model)
                    {
                        if (file.FileType.Equals("Document"))
                        {
                            hasDocuments = true; 
                            <div class="position-relative mb-1">
                                <a href="~/CourseMaterials/@file.FilePath" class="btn btn-link"> @file.FileName</a>
                            </div>
                        }
                    }
                    @if (!hasDocuments)
                    {
                    <div class="position-relative m-1">
                        <p>No documents yet.</p>
                    </div>
                    }
                    @if (completion == null)
                    {
                        <form asp-action="" asp-controller="" method="post" class="d-flex">
                            <input type="hidden" name="CourseID" value="@lecture.CourseID">
                            <button type="submit" class="btn btn-success p-3 m-2 ml-auto">Mark as Completed  <i class="fas fa-check-circle ml-1"></i></button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="" asp-controller="" method="get" class="d-flex">
                            <input type="hidden" name="CourseID" value="@lecture.CourseID">
                            <button type="submit" class="btn btn-success p-3 m-2 ml-auto">Go to new lecture  <i class="fas fa-check-circle ml-1"></i></button>
                        </form>
                    }
                </div>
            </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disscusion</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                    Styling for the donut chart can be found in the
                    <code>/js/demo/chart-pie-demo.js</code> file.
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
