@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}

@model ApiVideo.Model.LiveStream

<link rel="stylesheet" href="~/css/WatchLive.css" />
@if (User.IsInRole("Student"))
{
    <div class="container text-center">
        <h1 class="display-4">Live Stream: @Model.name</h1>

        @*<img class="thumbnail" src="@Model.assets.thumbnail" alt="Live Stream Thumbnail" />*@

        <h2 class="mt-4">Watch Live</h2>
        <div class="embed-responsive embed-responsive-16by9">
            @Html.Raw(Model.assets.iframe)
        </div>

        <div class="link-section">
            <h2>Stream Player</h2>
            <p><a href="@Model.assets.player" target="_blank" class="btn btn-primary">Open in Player</a></p>

            <h2>HLS Stream URL</h2>
            <p><a href="@Model.assets.hls" target="_blank" class="btn btn-primary">Watch HLS Stream</a></p>
        </div>
    </div>
}
else
{
    <h3>You do not have permision </h3>
}