@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}

@model LectureModel

<<<<<<< HEAD
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@Model.Title</h1>
    <p class="mb-4">
       @Model.Description
    </p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <hr>
                    Styling for the bar chart can be found in the
                    <code>/js/demo/chart-bar-demo.js</code> file.
                </div>
=======
<section>
    <div class="container-fluid row">
        <div class="sidebar col-md-3">
            @if (User.IsInRole("Instructor"))
            {
                <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#createLectureModal">
                    Add New Lecture
                </button>
            }
            <ul class="list-inline">
                @Html.Partial("_SideLecture", Model.CourseID)
            </ul>
        </div>
        <div class="content col-md-6">
            <h2>@Model.</h2>
            @*  <p>@Model.MoTa</p>*@

         @*  <div class="video-container">
                <video width="100%" controls>
                    <source src="@Model.VideoUrl" type="video/mp4"> 
                    Your browser does not support the video tag.
                </video>
>>>>>>> 50e08914890b9a7b8749dd254850b75f5452a44f
            </div>

        </div>
<<<<<<< HEAD

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                    Styling for the donut chart can be found in the
                    <code>/js/demo/chart-pie-demo.js</code> file.
                </div>
=======
        *@

        <div class="right-sidebar col-md-3">
            <div class="course-item">
                <i class="fas fa-graduation-cap">
                </i>
                <span>
                    ...
                </span>
>>>>>>> 50e08914890b9a7b8749dd254850b75f5452a44f
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->