﻿@using OnlineLearning.Models.ViewModel
@{
    ViewData["Title"] = "TestList";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}
@model TestListViewModel;
<partial name="_NoficationPartial" />
<!-- Bootstrap CSS (only the latest version) -->

<link rel="stylesheet" href="~/css/TestList.css" />
<h1>Test List</h1>

<section class="topics-detail-section section-padding" id="topics-detail">
    @if (User.IsInRole("Instructor"))
    {
        <div class="row align-items-end">
            <div class="col">
                <form asp-controller="Test" asp-action="CreateTest" asp-area="Instructor" method="get">
                    <input type="hidden" name="CourseID" value="@ViewBag.CourseID" />
                    <button type="submit" class="btn custom-btn active">
                        <i class="fas fa-plus new-icon"></i> Create new Test
                    </button>
                </form>
            </div>
        </div>
    }

    @if (Model?.Tests != null && Model.Tests.Any())
    {
        foreach (var test in Model.Tests)
        {
            // Skip inactive tests for students
            if (User.IsInRole("Student") && (test.Status == "Inactive" || test.NumberOfQuestion == 0))
            {
                continue;
            }

            // Find the score for the current test by matching TestID
            var score = Model.Scores.FirstOrDefault(s => s.TestID == test.TestID);
            int? attemptsLeft = -1;
            @if (score != null)
            {
                attemptsLeft = @test.NumberOfMaxAttempt - @score.NumberOfAttempt;
            }
            <div class="card shadow-sm test-card">
                <div class="card-body">
                    <h5 class="card-title">@test.Title</h5>
                    <p class="card-text">@test.Description</p>

                    <div class="mb-3">
                        <p><strong>Start time:</strong> @test.StartTime.ToString("yyyy-MM-dd HH:mm")</p>
                        <p><strong>End time:</strong> @test.EndTime.ToString("yyyy-MM-dd HH:mm")</p>
                        <p><strong>Time to do test:</strong> @test.TestTime</p>
                    </div>

                    <div class="mb-4">
                        <p><strong>Number of questions:</strong> @test.NumberOfQuestion</p>
                    </div>

                    <div class="mb-4">
                        <p><strong>Score to Pass:</strong> @test.PassingScore</p>
                    </div>
                    @if (User.IsInRole("Student") && attemptsLeft != -1)
                    {
                        <div class="mb-4">
                            <p><strong>Your attempts left: </strong> @attemptsLeft</p>
                        </div>
                    }
                    else
                    {
                        if (User.IsInRole("Student") && attemptsLeft == -1 || User.IsInRole("Instructor"))
                        {
                            <div class="mb-4">
                                <p><strong>Number of max attempts: </strong> @test.NumberOfMaxAttempt</p>
                            </div>
                        }
                    }
                    <div class="mb-4">
                        <p><strong>Status:</strong> @test.Status</p>
                    </div>

                    @if (User.IsInRole("Instructor"))
                    {
                        <div class="d-flex justify-content-between">
                            <form asp-controller="Question" asp-action="EditQuestionRedirector" asp-area="Instructor" method="post" asp-route-TestID="@test.TestID">
                                <button type="submit" class="btn btn-success">
                                    Edit Question
                                </button>
                            </form>
                            <form asp-controller="Question" asp-action="CreateQuestionRedirector" asp-area="Instructor" method="post" asp-route-TestID="@test.TestID">
                                <button type="submit" class="btn btn-success">
                                    Add Question
                                </button>
                            </form>
                            <form asp-controller="Test" asp-action="EditTest" asp-area="Instructor" method="get">
                                <input type="hidden" name="TestID" value="@test.TestID" />
                                <button type="submit" class="btn btn-success">
                                    Edit Test
                                </button>
                            </form>
                            <form asp-controller="Test" asp-action="DeleteTest" asp-area="Instructor" method="post" onsubmit="return confirm('Are you sure you want to delete this test?');">
                                <input type="hidden" name="TestID" value="@test.TestID" />
                                <button type="submit" class="btn btn-danger">
                                    Delete Test
                                </button>
                            </form>
                        </div>
                    }

                    @if (User.IsInRole("Student"))
                    {
                        var currentTime = DateTime.Now;
                        var testNotStarted = currentTime < test.StartTime;
                        var testEnded = currentTime > test.EndTime;

                        <div class="d-flex align-items-center justify-content-between">
                            @if (testNotStarted)
                            {
                                <p><strong>Test is not yet available. Start time:</strong> @test.StartTime.ToString("yyyy-MM-dd HH:mm")</p>
                                <button class="btn btn-secondary" disabled>Do Test</button>
                            }
                            else if (testEnded)
                            {
                                <p><strong>This test has ended. End time:</strong> @test.EndTime.ToString("yyyy-MM-dd HH:mm")</p>
                                <button class="btn btn-secondary" disabled>Test Ended</button>
                            }
                            else
                            {
                                if (score != null && attemptsLeft > 0)
                                {
                                    <p><strong>Your Score:</strong> @score.Score</p>
                                    <form asp-controller="Test" asp-action="DoTest" asp-area="Student" method="get">
                                        <input type="hidden" id="TestID" name="TestID" value="@test.TestID" />
                                        <button id ="doTestButton-@test.TestID" type="submit" class="btn btn-warning">Redo Test</button>
                                    </form>
                                }
                                else
                                {
                                    if (attemptsLeft == -1)
                                    {
                                        <form asp-controller="Test" asp-action="DoTest" asp-area="Student" method="get">
                                            <input type="hidden" id="TestID" name="TestID" value="@test.TestID" />
                                            <button id="doTestButton-@test.TestID"  type="submit" class="btn btn-success">Do Test</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="row">
                                                @if (score != null)
                                                {
                                                    <div class="col-md-12">
                                                        <p><strong>Your Score:</strong> @score.Score.ToString("F2")</p>
                                                        </div>
                                                    
                                                }
                                                <div class="col-md-12">

                                                <button id="doTestButton-@test.TestID" class="btn btn-warning" disabled>No Attempt Left</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <!-- Call SignalR for each TestID -->
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                testListSignalR(@test.TestID);
                            });
                        </script>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h2>No Test available, you should add some new Test</h2>
    }

</section>

<!-- Script for signalR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
<script src="~/js/testListSignalR.js"></script>
