﻿@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}
@using OnlineLearning.Areas.Student.Models.ViewModel
@model GradeListViewModel

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Student's Grade List</h1>
    @* <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p> *@

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Assignment</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Assignment Link</th>
                            <th>Grade</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Assignment Link</th>
                            <th>Grade</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.scoreAssignments.Any())
                        {
                            @foreach (var item in Model.scoreAssignments)
                            {
                                <tr>
                                    <td>@item.Assignment.Title</td>
                                    <td>@item.Assignment.AssignmentLink</td>
                                    <td>@item.Score</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" style="text-align: center;">You haven't done any assignments.</td>
                            </tr>
                        }
                    </tbody>

                        
                    
                </table>
            </div>
        </div>
        </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Test</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            
                            <th>Grade</th>
                            <th>Done At</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>

                            <th>Grade</th>
                            <th>Done At</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.scoretests.Any())
{
                        @foreach (var item in Model.scoretests)
                        {
                            <tr>
                                <td>@item.Test.Title</td>
                                <td>@item.Score</td>
                                <td>@item.DoTestAt</td>

                            </tr>
                        }


                        }
                        else
                        {
                            <tr>
                                <td colspan="3" style="text-align: center;">You haven't done any test.</td>
                            </tr>
                        }






                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

